<div class="content-main">
    <h1><span style="font-weight:200">Let's</span>CHAT</h1>
    <p>Converstaions and Fun. Nothing else.</p>
    <form action = "/register" method="post">
        <br>
        <input class="form-fields" name="username" type="text" placeholder="USERNAME"/>
        <br>
        <br>
        <input class="form-fields" name="email" type="email" placeholder="EMAIL"/>
        <br>
        <br>
        <input class="form-fields" name="password" type="password" placeholder="PASSWORD"/>
        <br>
        <br>
        <input type="submit" value="Register" class="register-btn"/>
    </form>
</div>
